<% provide(:title, 'Servicio') %>
<div class="center hero-unit">
	<%= image_tag("galeria/servicio.png", alt: "Servicio") %>

	<p>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		<br />
		<br />
		<br />
	</p>

	<%= image_tag("separador.png", class: "separador") %>
	
	<ol>
		<li><span>Donec blandit quam leo, quis mattis metus.</span></li>
		<li><span>Curabitur ullamcorper euismod odio, ut sollicitudin dui placerat vel.</span></li>
		<li><span>Morbi in tellus id lacus cursus aliquam quis a mauris.</span></li>
	</ol>
</div>