<% provide(:title, 'Administrador - Cotizaciones') %>
<div class="center hero-unit">
	<h1>Cotizaciones</h1>
	<% @cotizaciones.each do |cotizacion| %>
		<div>
			<%= cotizacion.nombre %>
		</div>
	<% end %>
</div>
