@import "bootstrap";

/* mixins, variables, etc. */

/* universal */

body, html {
	height: 100%;
	width: 100%;
}

html {
	overflow-y: scroll;
}

body {
	display: block;
	padding-top: 0px;
	background-image: url('fondo.png');
  	background-size: cover;
}

* {
	margin: 0;
	padding: 0;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

ol, li {
	text-align: justify;
	color: #0096ff;
	line-height: 1.7em;
	font-size: 15pt;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li span {
	color: #555555;
	font-size: 13pt;
}

/* header */

.cabecera {
	width: 700px;
}

.navbar {
	margin-bottom: 10px;
}

.navbar-inner-personal {
  	background-color: transparent;
  	background-image: url("header/fondo.png");
  	background-size: cover;
  	background-repeat: no-repeat;
  	padding-top: 20px;
  	min-height: 40px;
  	padding-left: 20px;
  	padding-right: 20px;
  	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.top-navbar {
	height: 100px;
	width: 880px;
	margin: auto;
}

.top-izquierda {
	float: right;
	color: #fff;
	font-size: 1.2em;
}

.redes-sociales {
	margin-top: 14px;
}

#logo {
	float: left;
	margin-right: 10px;
}

.menu {
	background-image: url('header/menu.png');
  	background-size: cover;
  	width: 898px;
  	height: 86px;
  	margin: auto;
  	margin-bottom: 20px;
  	img {
  		margin-top: 4px;
  	}
}

/* container */

.container {
	height: 100%;
}

.hero-unit p {
	position: relative;
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: #0096ff;
	text-align: justify;
	margin-top: 30px;
	margin-bottom: 20px;
}

.separador {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* footer */

footer {
	width: 930px;
	clear: both;
	height: 35px;
	background-image: url('footer.png');
  	background-size: cover;
  	position: relative;
  	padding-top: 18px;
  	padding-left: 10px;
  	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);

	color: #000;
	a {
		color: #000;
		&:hover {
			color: #000;
			text-decoration: none;
		}
	}
}