@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

body, html {
	height: 100%;
	width: 100%;
}

html {
	overflow-y: scroll;
}

body {
	display: block;
	padding-top: 0px;
	background-image: url('fondo.png');
  	background-size: cover;
  	font-family: "Calibri", Verdana, sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

section {
	overflow: auto;
}

textarea {
	resize: none;
}

.center {
	text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

ol, li {
	text-align: justify;
	color: #0096ff;
	line-height: 1.7em;
	font-size: 15pt;
	font-weight: bold;
}

li span {
	color: #555555;
	font-size: 13pt;
}

.loading {
	width: 15px;
	height: 15px;
}

/* header */

.cabecera {
	width: 700px;
}

.navbar {
	margin-bottom: 10px;
}

.navbar-inner-personal {
  	background-color: transparent;
  	background-image: url("header/fondo.png");
  	background-size: cover;
  	background-repeat: no-repeat;
  	padding-top: 20px;
  	min-height: 40px;
  	padding-left: 20px;
  	padding-right: 20px;
  	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.top-navbar {
	height: 100px;
	width: 880px;
	margin: auto;
}

.top-izquierda {
	float: right;
	color: #fff;
	font-size: 1.2em;
}

.redes-sociales {
	margin-top: 14px;
}

#logo {
	float: left;
	margin-right: 10px;
}

.menu {
	background-image: url('header/menu.png');
  	background-size: cover;
  	width: 898px;
  	height: 86px;
  	margin: auto;
  	margin-bottom: 20px;
  	img {
  		margin-top: 4px;
  	}
}

/* container */

.container {
	height: 100%;
}

.hero-unit {
	p {
		position: relative;
		display: block;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		color: #0096ff;
		text-align: justify;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.opciones {
		float: left;
	}
}

.separador {
	margin-top: 40px;
	margin-bottom: 40px;
}

.formulario {
	background-image: url('galeria/contacto-form.png');
  	background-size: cover;
  	height: 357px;
  	width: 802px;
  	box-shadow:         2px 5px 16px rgba(50, 50, 50, 0.75);
  	border-radius: 20px;
  	margin-bottom: 30px;
}

.formulario {
	.fields {
		padding-top: 45px;
		.field {
			display: inline-block;
			* {
				font-weight: bold;
			}
		}
	}
}


.mensaje {
	padding-top: 40px;
	textarea {
		width: 660px;
		height: 100px;
	}
}

.actions {
	input {
		float: right;
		margin-right: 65px;
	}
}

.destino {
	margin-top: 30px;
}

.form_puntos {
	background-image: url('cotiza/fondo-destinos.png');
  	background-size: cover;
  	height: 255px;
  	width: 533px;
  	box-shadow:         2px 5px 16px rgba(50, 50, 50, 0.75);
  	border-radius: 20px;
  	* {
		font-weight: bold;
	}
	.titulo {
		padding-top: 25px;
		text-align: left;
		padding-left: 77px;
		padding-right: 25px;
		font-size: 13pt;
		.reset {
			float: right;
		}
	}
	form {
		padding-top: 10px;
		padding-left: 35px;
		.fields {
			text-align: left;
	  		.field {
	  			display: inline-block;
	  			margin-right: 13px;
	  			margin-bottom: 15px;
	  			label {
	  				text-align: center;
	  			}
	  			input[type="text"] {
			  		border-radius: 10px;
			  	}
			  	input[name="punto[numero]"] {
			  		width: 50px;
			  	}
	  		}
	  		.tipo {
	  			div {
	  				* {
	  					display: inline-block;
	  				}	  				
	  			}
	  		}
	  	}
	  	.actions {
	  		margin-top: -10px;
	  		span {
	  			display: block;
	  			width: 43px;
	  		}
	  		.load {
	  			float: right;
	  			margin: 0;
				margin-right: -65px;
	  		}
	  	}
	}
}

.form_contacto {
	background-image: url('cotiza/fondo-contacto.png');
  	background-size: cover;
  	height: 541px;
  	width: 268px;
  	box-shadow:         2px 5px 16px rgba(50, 50, 50, 0.75);
  	border-radius: 20px;
  	float: right;
	margin-top: -540px;
	* {
		font-weight: bold;
	}
	.titulo {
		padding-top: 36px;
		text-align: left;
		padding-left: 47px;
		font-size: 13pt;
	}
	form {
		padding-top: 20px;
		input[type="text"] {
	  		border-radius: 10px;
	  	}
	  	.fields {
	  		.fecha {
		  		margin-top: 10px;
		  		margin-bottom: 10px;
		  		select {
		  			padding: 0;
		  			height: 18px;
		  		}
		  	}
		  	.field-linea {
		  		* {
		  			display: inline-block;
		  			margin: 0;
		  			padding: 0;
		  		}
		  		font-size: 11px;
		  		text-align: left;
				width: 215px;
				padding-left: 24px;
				margin-bottom: 20px;
		  		.input-mini {
		  			float: right;
		  			border-radius: 20px;
		  			text-align: right;
		  			padding: 0 5px;
		  		}
		  		label {
		  			font-size: 11px;
		  		}
		  	}
	  	}
	  	.actions {
	  		input {
	  			margin-top: 0px;
	  			margin-right: 25px;
	  		}
	  	}
	}
}

.puntos {
	display: block;
	width: 820px;
	height: auto;
	margin-top: 50px;
	box-shadow:         2px 5px 16px rgba(50, 50, 50, 0.75);
  	border-radius: 20px;
  	* {
		font-weight: bold;
	}
	.header, .footer {
		position: relative;
		display: block;
		width: 100%
	}
	.header {
		background-image: url('cotiza/tabla-header.png');
  		background-size: cover;
  		height: 62px;
  		text-align: left;
  		.titulo {
  			font-size: 13pt;
  			margin-left: 83px;
			margin-top: 26px;
			display: inline-block;
  		}
	}
	.footer {
		background-image: url('cotiza/tabla-footer.png');
  		background-size: cover;
  		height: 30px;
	}
	.contenido {
		width: 780px;
		background-image: url('cotiza/tabla-row.png');
		background-repeat: no-repeat;
		background-position-x: 0;
		background-position-y: 0;
		padding: 0 45px 0 20px;
		table {
			width: 100%;
			.cabecera {
				font-size: 15px;
				color: #898989;
				border-bottom: 1px solid #cfcfcf;
			}
			.listado-contenido {
				font-size: 10px;
			}
		}
		.box-puntos {
			position: absolute;
			display: none;
			float: left;
			width: 400px;
			margin-left: -350px;
			border: 1px solid #CCC;
			box-shadow:         2px 5px 16px rgba(50, 50, 50, 0.75);
			border-radius: 10px;
			background-color: #FFF;
			z-index: 100;
			tr.cabecera-puntos {
				font-size: 12px;
				color: #898989;
				border-bottom: 1px solid #cfcfcf;
			}
			td {
				padding: 0 10px 0 10px;
			}
			i {
				float: right;
			}
		}
	}
}

.logout {
	float: right;
}

/* Mensajes y Errores */
.mensajes_error {
	margin-bottom: 20px;
	* {
		color: #cd2200;
	}
	p {
		color: #cd2200;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 0;
	}
	ul {
		margin-right: 130px;
		margin-left: 130px;
	}
	ol, li {
		line-height: normal;
		font-size: 13px;
	}
}

.field_with_errors {
	input {
		border-color: #953B39;
	}
}

/* footer */

footer {
	width: 920px;
	clear: both;
	height: 35px;
	background-image: url('footer.png');
  	background-size: cover;
  	position: relative;
  	padding-top: 18px;
  	padding-left: 20px;
  	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);

	color: #676767;
	a {
		color: #676767;
		&:hover {
			color: #0096ff;
			text-decoration: none;
		}
	}
}